name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 4.0.x
    - name: Install dependencies
      run: dotnet restore
      working-directory: ./ATControl/
    - name: Build
      run: donet build --configuration Release --no-restore
      working-directory: ./ATControl/
    - name: Publish
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
       PROJECT_FILE_PATH: ATControl/ATControl.csproj
       NUGET_KEY: ${{secrets.NUGET_API_KEY}}
